body {
    background: black;
    user-select: none;
}

section.gun > img {
    position: absolute;
    bottom: 0;
    right: 400px;
}

#gunImage {
    /*transition: opacity 1s ease-in-out; !* Adjust the transition duration as needed *!*/
}

.info {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    margin-left: 50px;
    margin-right: 50px;

    height: 40px;
    /*background-color: aqua;*/
}

.time {
    display: flex;
}

#timer {
    padding-left: 10px;
    font-weight: bolder;
}

.score {
    display: flex;
}

#score {
    padding-left: 10px;
    font-weight: bolder;
}

.area {
    position: relative;
    /*border: 1px solid white;*/
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    cursor: crosshair;
}

* {
    font-family: Poppins;
    color: white;
}

#faces {
    width: 50px;
    height: 50px;
    /*display: none;*/
    position: relative;
}