* {
    font-family: Poppins, serif;
    color: white;
}

body {
    background: black;
    user-select: none;
    height: 100vh;
}

.info {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    margin-left: 50px;
    margin-right: 50px;

    height: 40px;
    /*background-color: aqua;*/
}

.time {
    display: flex;
}

#timer {
    padding-left: 10px;
    font-weight: bolder;
}

.game {

}

#start {
    width: 200px;
    height: 30px;

    color: black;
    font-weight: bold;

    background-color: white;
    border: white;
}

.score {
    display: flex;
}

#score {
    padding-left: 10px;
    font-weight: bolder;
}

.area {
    /*border: 1px solid white;*/
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    height: 500px;
    cursor: crosshair;
}

.gun {
    position: absolute;
    bottom: 0;
    right: 400px;
}

#gunImage {

}

#faces {
    width: 50px;
    height: 40px;

    position: absolute;
    top: 50%;
    left: 49%;
}

#log {
    background-color: white;

    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;

    border-radius: 5px;
}

#title {
    color: black;
    padding-top: 100px;
}

#desc {
    color: black;
    padding-top: 10px;
    font-weight: normal;
}

#credits {
    color: black;
    padding-top: 200px;
    font-weight: normal;
}

#thinux {
    color: black;
    padding-top: 200px;
    font-weight: bold;
}